<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proteus Demo Razor</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
        <link rel="stylesheet" href="~/lib/ionicons/css/ionicons.css" />
        <link rel="stylesheet" href="~/lib/admin-lte/css/adminlte.css" />
        @*<link rel="stylesheet" href="~/css/site.css" />*@
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/ionicons/css/ionicons.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/admin-lte/css/adminlte.min.css" asp-append-version="true" />
        @*<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
    </environment>

    <environment names="Development">
        <script src="~/lib/jquery/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/lib/admin-lte/js/adminlte.js" asp-append-version="true"></script>
        @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/admin-lte/isjs/adminlte.min.js" asp-append-version="true"></script>
        @*<script src="~/lib/pace/pace.min.js" asp-append-version="true"></script>*@
        @*<script src="~/js/site.min.js" asp-append-version="true"></script>*@
    </environment>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!--Header Partial View -->
        <partial name="_Header" />

        <!--Main Sidebar Partial View -->
        <partial name="_MenuSidebar" />

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <!-- Page Header Partial View -->
                        <partial name="_PageHeader" />

                        <!--BreadCrumb Partial View -->
                        @*<partial name="_BreadCrumbs" />*@
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>

        <!-- /.content-wrapper -->
        <!-- main-footer -->
        @*<partial name="_Footer" />*@
        <!-- ./mainfooter -->
        <!-- control-sidebar -->
        <partial name="_ControlSideBar" />
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            //this sets the active link , 
            //the selected route/page will be selected

            var url = window.location;

            // for sidebar menu entirely but not cover treeview
            $('ul.nav-sidebar a').filter(function () {
                return this.href == url;
            }).addClass('active');

            // for treeview
            $('ul.nav-treeview a').filter(function () {
                return this.href == url;
            }).parentsUntil(".nav-sidebar > .nav-treeview").addClass('menu-open').prev('a').addClass('active');

        });
    </script>
</body>
</html>
