@using Microsoft.AspNetCore.Identity

    <ul class="navbar-nav">
        @if (Context.User.Identity.IsAuthenticated)
        {
            if (Context.User.IsInRole("Administrator"))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fas fa-user-cog"></i>
                        <span class="text-dark">Administration</span>
                    </a>
                    <div class="dropdown-menu">
                        <a asp-area="Identity" asp-page="/Roles/Index" title="Manage"class="dropdown-item">Manage Roles</a>
                        <a asp-area="Identity" asp-page="/Users/Index" class="dropdown-item">Manage Users</a>
                    </div>
                </li>
            }

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>

        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
