@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //set the Viewbag in the cshtml page header or in the cshtml.cs code file
}
<div class="col-sm-6">
    <h1 class="m-0 text-dark">@ViewBag.Title</h1>
</div><!-- /.col -->
