@page
@model Proteus.UI.Areas.Identity.Pages.Users.CreateModel

@{
    ViewData["Title"] = "User Create";
}

<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-8">
            <!-- general form elements -->
            <div class="card card-light">
                <div class="card-header">
                    <h3 class="card-title">Create User</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post" role="form">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="UserViewModel.UserName" class="control-label">User Name</label>
                            <input asp-for="UserViewModel.UserName" class="form-control" /> (Name from CAC in the format of LastName.FirstName[.xx])
                            <span asp-validation-for="UserViewModel.UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserViewModel.EDI" class="control-label">EDI</label>
                            <input asp-for="UserViewModel.EDI" class="form-control" /> (EDI from CAC)
                            <span asp-validation-for="UserViewModel.EDI" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserViewModel.PasswordHash" class="control-label">Password</label>
                            <input asp-for="UserViewModel.PasswordHash" class="form-control" />
                            <span asp-validation-for="UserViewModel.EDI" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserViewModel.Email" class="control-label">Email </label>
                            <input asp-for="UserViewModel.Email" class="form-control" />
                            <span asp-validation-for="UserViewModel.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserViewModel.PhoneNumber" class="control-label">Phone </label>
                            <input asp-for="UserViewModel.PhoneNumber" class="form-control" />
                            <span asp-validation-for="UserViewModel.PhoneNumber" class="text-danger"></span>
                        </div>                        
                        <div class="form-group">
                            <label asp-for="UserViewModel.FirstName" class="control-label">First Name</label>
                            <input asp-for="UserViewModel.FirstName" class="form-control" />
                            <span asp-validation-for="UserViewModel.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserViewModel.MI" class="control-label">M.I.</label>
                            <input asp-for="UserViewModel.MI" class="form-control" />
                            <span asp-validation-for="UserViewModel.MI" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserViewModel.LastName" class="control-label">Last Name</label>
                            <input asp-for="UserViewModel.LastName" class="form-control" />
                            <span asp-validation-for="UserViewModel.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserViewModel.GovPOCName" class="control-label">Gov. POC Name</label>
                            <input asp-for="UserViewModel.GovPOCName" class="form-control" />
                            <span asp-validation-for="UserViewModel.GovPOCName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserViewModel.GovPOCEmail" class="control-label">Gov. POC Email</label>
                            <input asp-for="UserViewModel.GovPOCEmail" class="form-control" />
                            <span asp-validation-for="UserViewModel.GovPOCEmail" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="UserViewModel.GovPOCPhoneNumber" class="control-label">Gov. POC Phone </label>
                            <input asp-for="UserViewModel.GovPOCPhoneNumber" class="form-control" />
                            <span asp-validation-for="UserViewModel.GovPOCPhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="UserViewModel.IsEnabled" /> User Account Is Enabled
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="UserViewModel.IsLockedOut" /> User Account Is Locked Out
                            </label>
                        </div>
                        <label class="form-check-label">
                            Note: Users are created with the default Role of "VISTOR". This can be changed after the user has been created by editing their record
                        </label>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
                        <button type="reset" class="btn btn-primary">Reset</button>
                    </div>
                </form>        
            </div>
            <!-- /.card -->
        </div>
    </div>
    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
