@page
@model Proteus.UI.Areas.Identity.Pages.Users.EditModel

@{
    ViewData["Title"] = "User Edit";
}

<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-8">
            <!-- general form elements -->
            <div class="card card-light">
                <div class="card-header">
                    <h3 class="card-title">Edit User</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post" role="form">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.UserName" class="control-label">User Name</label>
                            <input asp-for="Input.UserName" class="form-control" /> (Name from CAC in the format of LastName.FirstName[.xx])
                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.EDI" class="control-label">EDI</label>
                            <input asp-for="Input.EDI" class="form-control" /> (EDI from CAC)
                            <span asp-validation-for="Input.EDI" class="text-danger"></span>
                        </div>                       
                        <div class="form-group">
                            <label asp-for="Input.Email" class="control-label">Email </label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Phone" class="control-label">Phone </label>
                            <input asp-for="Input.Phone" class="form-control" />
                            <span asp-validation-for="Input.Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.FirstName" class="control-label">First Name</label>
                            <input asp-for="Input.FirstName" class="form-control" />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.MI" class="control-label">M.I.</label>
                            <input asp-for="Input.MI" class="form-control" />
                            <span asp-validation-for="Input.MI" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.LastName" class="control-label">Last Name</label>
                            <input asp-for="Input.LastName" class="form-control" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.GovPOCName" class="control-label">Gov. POC Name</label>
                            <input asp-for="Input.GovPOCName" class="form-control" />
                            <span asp-validation-for="Input.GovPOCName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.GovPOCEmail" class="control-label">Gov. POC Email</label>
                            <input asp-for="Input.GovPOCEmail" class="form-control" />
                            <span asp-validation-for="Input.GovPOCEmail" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.GovPOCPhoneNumber" class="control-label">Gov. POC Phone </label>
                            <input asp-for="Input.GovPOCPhoneNumber" class="form-control" />
                            <span asp-validation-for="Input.GovPOCPhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Input.IsEnabled" /> User Account Is Enabled
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Input.IsLockedOut" /> User Account Is Locked Out
                            </label>
                        </div>

                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Input.UserOnLine" /> User is On Line (Last Logged in Date:  <label asp-for="Input.LastLoginDate">@Model.Input.LastLoginDate</label> )
                            </label>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <input type="hidden" asp-for="Input.Id" />
                        <input type="hidden" asp-for="Input.LastLoginDate" />
                        <button type="submit" class="btn btn-primary">Save</button>&nbsp;&nbsp;
                        <button type="reset" class="btn btn-primary">Reset</button>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
    </div>
    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
