@page
@model Proteus.UI.Areas.Identity.Pages.Users.EditModel

@{
    ViewData["Title"] = "User Edit";
}

<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-8">
            <!-- general form elements -->
            <div class="card card-light">
                <div class="card-header">
                    <h3 class="card-title">Edit User</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post" role="form">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Item.UserName" class="control-label">User Name</label>
                            <input asp-for="Item.UserName" class="form-control" readonly="readonly" />
                            <span asp-validation-for="Item.UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Item.Email" class="control-label">Email </label>
                            <input asp-for="Item.Email" class="form-control" />
                            <span asp-validation-for="Item.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Item.Password" class="control-label">Password</label>
                            <input asp-for="Item.Password" class="form-control" />
                            <span asp-validation-for="Item.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Item.ConfirmPassword" class="control-label">Password</label>
                            <input asp-for="Item.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Item.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Item.FirstName" class="control-label">First Name</label>
                            <input asp-for="Item.FirstName" class="form-control" />
                            <span asp-validation-for="Item.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Item.MI" class="control-label">M.I.</label>
                            <input asp-for="Item.MI" class="form-control" />
                            <span asp-validation-for="Item.MI" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Item.LastName" class="control-label">Last Name</label>
                            <input asp-for="Item.LastName" class="form-control" />
                            <span asp-validation-for="Item.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Item.Phone" class="control-label">Phone </label>
                            <input asp-for="Item.Phone" class="form-control" />
                            <span asp-validation-for="Item.Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Item.GovPOCName" class="control-label">Gov. POC Name</label>
                            <input asp-for="Item.GovPOCName" class="form-control" />
                            <span asp-validation-for="Item.GovPOCName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Item.GovPOCEmail" class="control-label">Gov. POC Email</label>
                            <input asp-for="Item.GovPOCEmail" class="form-control" />
                            <span asp-validation-for="Item.GovPOCEmail" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Item.GovPOCPhoneNumber" class="control-label">Gov. POC Phone </label>
                            <input asp-for="Item.GovPOCPhoneNumber" class="form-control" />
                            <span asp-validation-for="Item.GovPOCPhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Item.IsEnabled" /> User Account Is Enabled
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Item.IsLockedOut" /> User Account Is Locked Out
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Item.UserOnLine" /> User is On-Line
                            </label>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <input type="hidden" asp-for="Item.Id" />
                        <button type="submit" class="btn btn-primary">Save</button>&nbsp;&nbsp;
                        <button type="reset" class="btn btn-primary">Reset</button>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
    </div>
    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
