@page
@model Proteus.UI.Areas.Identity.Pages.Account.LoginModel
@{
    //this tells the system to NOT use the _layout page in the shared folder!
    //the login page does not use the default layout as we don't want any pages
    //exposed until the user is authorized and authenticated
    Layout = "";
    ViewData["Title"] = "Login";
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Proteus Demo Razor</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/admin-lte/css/adminlte.min.css" asp-append-version="true" />
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/admin-lte/js/adminlte.min.js" asp-append-version="true"></script>
</head>
<body class="hold-transition login-page">
    <form method="post" role="form">
        <div style="text-align:center; margin-left: 10px; margin-top: 10px;">
            <h3>  US DEPARTMENT OF DEFENSE NOTICE AND CONSENT STATEMENT</h3>
        </div>
        <br />
        <div style="width: 95%; margin-left: 10px;">
            <div>
                <p style="text-align:center; color:Red; font-weight:bold;">
                    You are accessing a U.S. Government (USG) Information System (IS) that is provided for USG-authorized use only.
                </p>
            </div>
            <br />
            <div>
                By using this IS (which includes any device attached to this IS), you consent to
                the following conditions:
                <ul>
                    <br />
                    <li>
                        The USG routinely intercepts and monitors communications on this IS for purposes
                        including, but not limited to, penetration testing, COMSEC monitoring, network
                        operations and defense, personnel misconduct (PM), law enforcement (LE),
                        and counterintelligence (CI) investigations.
                    </li>
                    <br />
                    <li>
                        At any time, the USG may inspect and seize data stored on this IS.
                    </li>
                    <br />
                    <li>
                        Communications using, or data stored on, this IS are not private, are subject to
                        routine monitoring, interception, and search, and may be disclosed or used for any
                        USG authorized purpose.
                    </li>
                    <br />
                    <li>
                        This IS includes security measures (e.g., authentication and access controls) to
                        protect USG interests--not for your personal benefit or privacy.
                    </li>
                    <br />
                    <li>
                        Notwithstanding the above, using this IS does not constitute consent to PM, LE or CI
                        investigative searching or monitoring of the content of privileged communications,
                        or work product, related to personal representation or services by attorneys,
                        psychotherapists, or clergy, and their assistants.
                        Such communications and work product are private and confidential.  See User Agreement for details.
                    </li>
                </ul>
                <small>Updated: December 2018</small>
            </div>
        </div>
        <div align="center">
            <div style="width: 50%">
                <span class="text-danger">@Html.ValidationSummary(true)</span>
                <br />
                <input type="checkbox" asp-for="Input.DODAccept" placeholder="DoDAccept" value="true" />&nbsp;I Agree to the DoD statement above
                <br />
                <input type="submit" id="btnAccept" value="Accept & Login" title="Accept" />
            </div>
           
        </div>
    </form>
    <br />
    @*<a asp-page="./register" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">Register</a>*@
    <br />
</body>
</html>
