@page
@model Proteus.UI.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
    //this tells the system to NOT use the _layout page in the shared folder!
    Layout = "";
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Proteus Demo Razor</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/admin-lte/css/adminlte.min.css" asp-append-version="true" />

    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/admin-lte/js/adminlte.min.js" asp-append-version="true"></script>

</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="#"><b>Proteus Demo</b></a>
        </div>
        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Register</p>
                <span class="text-danger">@Html.ValidationSummary(true)</span>
                <form asp-area="Identity" asp-action="/Account/Register" method="post">
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" asp-for="Input.Name" placeholder="UserName">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user-alt"></span>
                            </div>
                        </div>
                    </div>

                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" asp-for="Input.Email" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>

                    <span asp-validation-for="Input.Phone" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input type="tel" class="form-control" asp-for="Input.Phone" placeholder="Phone">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-phone"></span>
                            </div>
                        </div>
                    </div>

                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" asp-for="Input.Password" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" asp-for="Input.ConfirmPassword" placeholder="ConfirmPassword">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.GovPOCName" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" asp-for="Input.GovPOCName" placeholder="GovPOCName">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.GovPOCEmail" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input type="tel" class="form-control" asp-for="Input.GovPOCEmail" placeholder="GovPOCEmail">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.GovPOCPhoneNumber" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input type="tel" class="form-control" asp-for="Input.GovPOCPhoneNumber" placeholder="GovPOCPhoneNumber">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-phone"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div>
                                <input type="checkbox" asp-for="Input.AgreeToTerms" placeholder="AgreeToTerms" value="true" />&nbsp;I agree to the <a href="#">terms</a>
                                @*<input type="checkbox" asp-for="Input.AgreeToTerms" placeholder="AgreeToTerms" value="true">
                    <label for="agreeTerms">
                        I agree to the <a href="#">terms</a>
                    </label>*@
                            </div>
                        </div>

                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <a asp-page="./login" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">Login</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <div class="lockscreen-footer text-center">
        Copyright &copy; 2014-2019 <b><a href="http://adminlte.io" class="text-black">AdminLTE.io</a></b><br>
        All rights reserved
    </div>
</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

