@page
@model Proteus.UI.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="container-fluid error-page">
    <div class="row">
        <h2 class="headline text-warning"> Access Denied</h2>
        <br />
        <div>
            <br />
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> You do not have access to this resource.</h3>
        </div>
    </div>
</div>
