@page
@model IndexModel
@{ ViewData["Title"] = "Home"; }

<h4>Proteus Razor Pages</h4>
<p>
    The Application Menu, on the left has samples of pages that use the Clean Architecture.
    There are two sections, Categories (List) and Products(List, Create, Details Edit, Delete)
</p>
<p>
    The Style Guide Menu has samples of the pages that are a make up the AdminLTE template
</p>