@page
@model Proteus.UI.Areas.StyleGuide.Pages.IndexModel
@{
}
<h3>Style Guide Home</h3>
<p>The pages in this section are implementations of the pages from the downloadable project from GitHub 
    (<a href="https://github.com/ColorlibHQ/AdminLTE" target="_blank"></a>https://github.com/ColorlibHQ/AdminLTE)
</p>
<p>
    NOTE: Not all the components on some of the page have been implementated due to issues working with .NET Core 3.1
</p>
