@page
@model Proteus.UI.Areas.StyleGuide.Pages.Documentation.DocumentationModel
@{
    ViewData["Title"] = "Documentation";
}
<h3>AdminLTE 3.05 Documentation</h3>
<p>
    The AdminLTE documentation is online at <a href="https://adminlte.io/docs/3.0" target="_blank">AdminLTE Documentation ("https://adminlte.io/docs/3.0")</a>.
    <br /> This link will only work when you are on the NIPRNet
</p>
